* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgba(2, 109, 46, 0.7),rgba(0, 2, 1, 0.486)),url(../images/gateswp.jpg) no-repeat fixed center;
    */ /* background-image: url('@Url.Content(~/images/tiger.jpg)');*/
    /* background-color:aliceblue;*/
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: white;
}

.showcase {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 10px;
}

.video-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    max-width: 100%;
}

video {
    object-fit: cover;
    left: 0;
}

.login-box {
    /*  position: absolute;*/
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 30px;
    /* transform: translate(-50%,-50%);*/
    background-color: rgba(0,0,0,0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.6);
    border-radius: inherit;
}

.bgvideo {
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 100vh;
}

.foot {
    border: 3px solid snow;
    padding: 2px;
    color: snow;
}

.set {
    position: absolute;
    right: 0;
}

.login-box label {
    color: snow;
    letter-spacing: 1px;
}

/*.login-box .user-box {
        position: relative;
    }

        .login-box .user-box input {
            width: 100%;
            padding: 10px 0;
            font-size: 16px;
            color: #fff;
            margin-bottom: 34px;
            border: none;
            border-bottom: 1px solid #fff;
            outline: none;
            background-color: transparent;
        }*/
.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

li {
    color: snow;
}

/*.login-box .user-box input:focus ~ label,
        .login-box .user-box input:valid ~ label {
            top: -15px;
            left: 0;
            color: #03e9f4;
            font-size: 10px;
        }

    .login-box form a {
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        color: #03e9f4;
        font-size: 16px;
        text-decoration: none;
        overflow: hidden;
        transition: .5s;
        margin-top: 40px;
        letter-spacing: 4px;
    }

        .login-box form a:hover {
            background-color: #03e9f4;
            color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4
        }
*/
