
body {
    background: linear-gradient(rgb(5 68 31 / 0.70),rgba(0, 2, 1, 0.486)), url("../images/tiger.jpg") no-repeat fixed center;
    */ /* background-image: url('@Url.Content(~/images/tiger.jpg)');*/
    /* background-color:aliceblue;*/
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: white;
}

.title {
    margin: 0 auto;
    width: 100%;
    max-width: 40rem;
    font-size: 4rem;
    text-align: center;
}

.card {
    font-size: 10px;
    width: 245px;
    height: 210px;
    position: relative;
    /* padding: 5rem 2.5rem;*/
    border-radius: 1rem;
    border: 1px solid transparent;
    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.4rem 1.3rem rgba(0,0,0,0.5);
    border-top-color: rgba(225,225,225,0.5);
    border-left-color: rgba(225,225,225,0.5);
    border-bottom-color: rgba(225,225,225,0.1);
    border-right-color: rgba(225,225,225,0.1);
    /* display: flex;
    flex-direction: row;*/
}

.cb1 {
    background-color: rgba(225,225,225,0.1);
    /* background-color:linear-gradient(to right bottom,rgba(225,225,225,0.1));*/
}

.card-number {
    color: rgba(225,225,225,0.08);
    font-size: 2rem;
    z-index: -1;
    position: absolute;
    top: -1rem;
    right: 2.5rem;
}

.dropdownTransparent {
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
}

    .btn:hover {
        box-shadow: 0 0 0.3rem 1rem rgba(0,0,0,0.3);
        border-color: snow;
    }

/*input[type="text"] {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
}
*/

.iconDelete:hover {
    color: #db1c04;
    text-shadow: 0 0 13px #db1c04;
    transition: all 0.5s ease;
}

.iconDetails:hover {
    color: #4dc247;
    text-shadow: 0 0 13px #4dc247;
    transition: all 0.5s ease;
}

.iconEdit:hover {
    color: #0223c9;
    text-shadow: 0 0 13px #0223c9;
    transition: all 0.5s ease;
}

footer {
    position: absolute;
    display: inline-block;
    right: 0px;
    margin-top: 20px;
    padding: 10px;
}

    footer a {
        color: darkcyan;
        font-weight: bolder;
    }


    footer li a {
        background-color: orangered;
        color: snow;
    }

        footer li a:hover {
            background-color: red;
        }

.page-link {
    background-color: snow;
    color: black;
}

    .page-link:active {
        background-color: orangered;
    }

    .page-link:hover {
        background-color: black;
        opacity: 0.6;
    }