@model Jungle.Entities.Parks

@{
    ViewData["Title"] = "Create";
}
<link href="~/css/CreatePark.css" rel="stylesheet" />

<video id="my-video" class="bgvideo" src="~/videos/parkvideo.mp4" autoplay muted loop></video>

<div class="col-md-4 content offset-md-4">
    <form asp-action="Create" class="login-box">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Location" class="control-label"></label>
            <input asp-for="Location" class="form-control" />
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Fee" class="control-label"></label>
            <input asp-for="Fee" value="" class="form-control" />
            <span asp-validation-for="Fee" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Add" class="btn btn-primary" />
        </div>
        <div>
            <a style="position:relative;text-decoration:none; color:black; border:none; margin-top:100%; padding: 8px 8px; border-radius:4px;" asp-action="Index" class="foot btn-warning">Back to Park List</a>
        </div>
    </form>
   
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
